:root {
    --colorPrincipal : #1d273b;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4 {
    color: var(--colorPrincipal);
    font-weight: 400;
}
.contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}
.contenedor1 {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding: 60px 0;
}
h1 {
    font-size: 50px;
}
/*  Header */
header::before {
    content: " ";
    display: block;
    margin-bottom: 80px;
}
nav {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px 0 rgba(0,0,0, .2);
    position: fixed;
    top: 0;
    z-index: 100;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    align-items: center;
}
.nav .logo {
    height: 40px;
}
.nav .logo img {
    height: 100%;
    vertical-align: top;
}
.enlaces-header {
    font-weight: 400;
}
.nav .enlaces-header a {
    color: #5d6678;
    text-decoration: none;
    margin-left:  20px;
}
.hamburger {
    width: 80px;
    height:  80px;
    display: none;
    background-color: green;
    text-align: center;
    z-index: 100;
    cursor: pointer;
    /* transition: color .5s ease-in; */
}
.hamburger {
    font-size:  25px;
    line-height: 80px;
}
.contenido-header {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-header>img {
    width: 550px;
    animation: ease-in-out animat 1s;
}
@keyframes animat {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.textos-header {
    margin: 0 0 0 30px;
}
.contenido-header p {
    font-weight: 400;
    margin-top: 14px;
    color: #5d6678;
}
.contenido-header a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background-color: #1fde82;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    text-decoration: none;
    transition: box-shadow .3s ease-in-out;
}
.contenido-header a:hover {
    box-shadow: 1px 5px 10px #8addb5;
}

/*  About us */

.titulo{
    font-size: 50px;
}
.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}
.articulo {
    width: 29%;
    background-color: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
    box-shadow: 0 4px 10px rgba(17, 29, 48, .26);
    transform: scale(1);
    transition: .5s;
}
.articulo:hover {
    transform: scale(.95);
}
.articulo>i {
    font-size: 30px;
    color: #fff;
    background-color: #1fde82;
    display: inline-block;
    width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    border-radius: 50%;
}
.articulo>h3 {
    font-size: 24px;
    margin-top: 30px;
}
.articulo>p {
    color: #5d6678;
    margin-top: 15px;
    padding-bottom: 20px;
}
.articulo>a {
    color: #5d6678;
    font-weight: 400;
    text-decoration: none;
}
.articulo>a:hover {
    color: #1fde82;
}

/*  Question */

.questions {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.questions>img {
    width: 550px;
    animation: ease-in-out animat 1s;
}
@keyframes animat {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.textos-questions {
    margin: 0 0 0 30px;
}
.textos-questions h2 {
    font-size: 40px;
}
.questions p {
    font-weight: 400;
    margin-top: 14px;
    color: #5d6678;
}
.questions a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background-color: #1fde82;
    text-align: center;
    padding: 12px 0;
    color: #fff;
    text-decoration: none;
    transition: box-shadow .3s;
}
.questions a:hover {
    box-shadow: 1px 5px 10px #8addb5;
}

/*  Results */

.results {
    background-color: #2570ff;
    padding-top: 30px;
}
.content-results {
    display: flex;
    justify-content: space-evenly;
}
.numbers {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.numbers .number {
    width: 45%;
    background-color: rgba(255,255,255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}
.numbers  h4 {
    color:  #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}
.numbers  p {
    color: #fff;
}
.results-text {
    width: 37%;
}
.results-text h4 {
    color: #fff;
    font-size: 40px;
}
.results-text p {
    color: #fff;
    font-weight: 300;
    margin: 20px 0;
}
.results-text>a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    border: 1px solid #fff;
    padding: 10px 0;
    width: 120px;
    text-align: center;
    border-radius: 5px;
}

/*  Services */

.services {
    display: flex;
    justify-content: space-between;
}
.services>img {
    width: 500px;
}
.box-skills {
    margin: 30px 30px 0 0;
}
.box-skills h4 {
    font-size: 24px;
    background-color: #f2f2f2;
    width: 350px;
    border-radius: 6px;
    padding: 10px 0 10px 15px;
    margin-bottom: 10px;
}
.box-skills i {
    color: #1fde82;
    font-size: 20px;
    margin-right: 5px;
}

/* footer */

footer {
    background-color: #f2f2f2;
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
}
.partFooter {
    width: 20%;
    text-align: center;
}
.partFooter h4 {
    color: #1d273b;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 30px;
    text-align: center;
}
.partFooter img {
    width: 70%;
}
.partFooter a {
    display: block;
    text-decoration: none;
    color: #5d6678;
    margin-bottom: 10px;
    transition: color .3s ease-in-out;
}
.partFooter a:hover {
    color: #1fde82;
}
.redes-sociales i {
    font-size: 20px;
    display: inline-block;
    color: #adb6c7;
    border: 1px solid #adb6c7;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 36px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    margin-right: 5px;
    transition: all .3s ease-in-out;
}
.redes-sociales i:hover {
    color: #fff;
    background-color: #1fde82;
    border-color: #1fde82;
}